# Infrastructure Environment Variables (.env)
MYSQL_HOST=localhost
MYSQL_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

EUREKA_HOST=localhost
EUREKA_PORT=8761
EUREKA_USERNAME=admin
EUREKA_PASSWORD=admin_pass

JWT_SECRET=SuperSecretKeyForJWTTokenSigningSuperSecretKeyForJWTTokenSigning
JWT_RSA_PUBLIC_KEY=
JWT_RSA_PRIVATE_KEY=
